.chat-messages {
    flex-grow: 1;
    padding: 15px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.message {
    margin-bottom: 15px;
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 15px;
    position: relative;
    clear: both;
}
.message.my-message {
    align-self: flex-end;
    background-color: #DCF8C6;
    border-radius: 15px 0 15px 15px;
}

.message.other-message {
    align-self: flex-start;
    background-color: #F1F0F0;
    border-radius: 0 15px 15px 15px;
}

.message-sender {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.message-content {
    word-wrap: break-word;
}
.message-content img {
    max-width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.message-time {
    font-size: 12px;
    color: #767676;
    margin-top: 5px;
    text-align: right;
}